.account-info {
  width: 150px;
  padding: 16px 16px 0px 16px;
}

.user-name {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 12px;
  display: block;
}

.role {
  margin-top: -8px;
  display: block;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
