<div class="container">
  <div class="map" *ngIf="apiLoaded | async">
    <google-map [options]="options" (mapClick)="addMarker($event)">
      <map-marker
        #marker="mapMarker"
        *ngFor="let poi of pois; index as i"
        [position]="poi.google()"
        [title]="poi.description"
        [clickable]="true"
        (mapClick)="openInfoWindow(marker, poi)"
      >
      </map-marker>
      <map-info-window></map-info-window>
    </google-map>
  </div>
  <div class="pois">
    <app-poi-item
      *ngFor="let poi of pois; index as i"
      [poi]="poi"
      [indexOfelement]="i"
    ></app-poi-item>
  </div>
</div>
