.poi-list {
  width: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

.poi {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: #424242;
}

.poi:hover:not(.cdk-drag-placeholder) .drag-indicator {
  display: block;
}

.drag-handle {
  width: 24px;
  height: 24px;
  cursor: move;
}

.drag-indicator {
  position: absolute;
  left: 5px;
  display: none;
}

.error {
  border: solid 2px #f44336;
  border-radius: 5px;
  transition: opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  margin-bottom: 10px;
}

.min-error {
  margin-bottom: 10px;
}

.dots {
  position: relative;
  font-size: 30px;
  left: -3px;
}
.cdk-drag-placeholder .dots {
  display: none;
}
.poi:last-child .dots {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.poi-list.cdk-drop-list-dragging .poi:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#select-poi-formfield {
  width: 100%;
}

.poi-name ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.poi-name ::ng-deep .mat-form-field-infix {
  border: none;
}

.poi-name ::ng-deep .mat-form-field-appearance-outline {
  top: 0;
}
