<div id="container">
  <mat-card id="card"
    ><mat-card-header>
      <mat-card-title
        >Place request for a role, or give it back</mat-card-title
      ></mat-card-header
    >
    <mat-card-content>
      <mat-card id="card-content">
        <mat-card-content>
          <b>Your current Role:</b> {{ currentRole | displayRole }}
          <button
            mat-raised-button
            (click)="onGiveBack()"
            color="accent"
            matTooltip="give back role"
            matTooltipPosition="above"
            matTooltipClass="tooltip"
            aria-label="role give back button"
          >
            Give Back
          </button>
        </mat-card-content>
      </mat-card>
      <mat-card id="card-content">
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>request Role:</mat-label>
            <mat-select
              (selectionChange)="selectedValue($event)"
              [disabled]="selectDisabled"
              [formControl]="roleControl"
              required
            >
              <mat-option *ngFor="let setRole of roles" [value]="setRole">
                {{ setRole | displayRole }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.hasError('required')"
              >Please choose a role</mat-error
            >
          </mat-form-field>
          <button
            mat-raised-button
            *ngIf="!selectDisabled"
            [disabled]="roleControl.hasError('required')"
            (click)="onRequest()"
            color="accent"
            matTooltip="request role"
            matTooltipPosition="above"
            matTooltipClass="tooltip"
            aria-label="role drequest button"
          >
            REQUEST
          </button>

          <a *ngIf="selectDisabled" id="waiting">waiting for verification...</a>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
