<div id="wrapper">
  <mat-form-field appearance="outline" id="form-field">
    <mat-label>Image URL</mat-label>
    <input matInput [formControl]="formControl" id="input" />
    <mat-error *ngIf="formControl.errors?.required"
      >Image URL cannot be empty</mat-error
    >
    <mat-error *ngIf="formControl.errors?.invalidUrl"
      >Image URL must be valid</mat-error
    >
    <mat-error *ngIf="formControl.errors?.noImageUrl"
      >Image URL must point to an image</mat-error
    >
  </mat-form-field>

  <img *ngIf="formControl.valid" [src]="formControl.value" id="image" />
</div>
