<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
  <mat-sidenav
    #snav
    mode="over"
    [fixedInViewport]="false"
    fixedTopGap="56"
    [opened]="true"
  >
    <mat-nav-list>
      <a
        *ngIf="[contentCreator, promoter] | oneOfRequiredRole | async"
        mat-list-item
        (click)="toggle()"
        [routerLink]="['pois']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>location_on</mat-icon>
        My PoI's
      </a>
      <a
        *ngIf="[contentCreator] | oneOfRequiredRole | async"
        mat-list-item
        (click)="toggle()"
        [routerLink]="['routes']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>follow_the_signs</mat-icon>
        My Routes
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
