<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
  <mat-sidenav
    #snav
    mode="over"
    [fixedInViewport]="false"
    fixedTopGap="56"
    [opened]="true"
  >
    <mat-nav-list>
      <a
        mat-list-item
        (click)="toggle()"
        [routerLink]="['']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>home</mat-icon>
        Home
      </a>
      <a
        mat-list-item
        (click)="toggle()"
        [routerLink]="['here']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>map</mat-icon>
        Here
      </a>
      <a
        mat-list-item
        (click)="toggle()"
        [routerLink]="['mapbox']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>map</mat-icon>
        MapBox
      </a>
      <a
        mat-list-item
        (click)="toggle()"
        [routerLink]="['gmaps']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListIcon>map</mat-icon>
        Google Maps
      </a>

      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
