<google-map [options]="mapOptions" height="100%" width="100%" #map>
  <map-marker
    *ngFor="let poi of routeForm.route.pointOfInterests"
    [position]="{ lat: poi.latitude, lng: poi.longitude }"
    [options]="{ icon: 'assets/map-marker-yellow.png' }"
  ></map-marker>
  <map-polyline
    [path]="getPolylinePath()"
    [options]="polylineOptions"
  ></map-polyline>
</google-map>

<form [formGroup]="routeForm.formGroup" (ngSubmit)="onSave()">
  <mat-card id="card">
    <ng-container *ngIf="!loading">
      <mat-card-header>
        <mat-card-title>{{
          isNew ? 'New Route' : 'Edit Route'
        }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content id="card-content">
        <mat-tab-group dynamicHeight mat-align-tabs="center" mat-stretch-tabs>
          <mat-tab label="General data">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" id="input-name" />
              <mat-error
                *ngIf="routeForm.nameControl.errors?.required"
                id="error-name-required"
                >Name cannot be empty</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Duration (in hours)</mat-label>
              <input
                matInput
                formControlName="duration"
                id="input-duration"
                type="number"
                min="0.5"
                step="0.5"
              />
              <mat-error
                *ngIf="routeForm.nameControl.errors?.required"
                id="error-name-required"
                >Duration cannot be empty</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline" id="description-form-field">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="description"
                id="input-description"
              ></textarea>
            </mat-form-field>

            <app-input-image-url
              [image]="
                'https://www.h-hotels.com/_Resources/Persistent/5a7e839511d272d52470d6f8cd1aed90527a691b/berlin-skyview-museumsinsel-01-2660x1990.jpg'
              "
              (urlChange)="onImageUrlChange($event)"
              #inputImageUrl
            ></app-input-image-url>
          </mat-tab>
          <mat-tab label="Points of Interests">
            <app-poi-order
              #orderPois
              [pointsOfInterests]="routeForm.route.pointOfInterests"
              (poisChange)="onPoisChange($event)"
            ></app-poi-order>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>

      <mat-card-actions>
        <button
          id="btn-save"
          type="submit"
          mat-button
          mat-raised-button
          color="primary"
          [disabled]="
            this.routeForm.formGroup.invalid ||
            this.orderPois.invalid() ||
            this.inputImageUrl.invalid()
          "
        >
          <mat-icon inline="true">save</mat-icon>
          SAVE
        </button>
        <button id="btn-cancel" mat-button (click)="onCancel()">CANCEL</button>
      </mat-card-actions>
    </ng-container>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </mat-card>
</form>
