<google-map [options]="mapOptions" height="100%" width="100%" #map>
  <map-marker
    *ngFor="let poi of toArray(); index as i"
    #marker="mapMarker"
    [options]="markerOptions"
    [clickable]="true"
    [position]="toGoogle(poi)"
    [title]="poi.name"
    [label]="toString(i + 1)"
    (mapMouseover)="openInfoWindow(marker, poi)"
    (mapMouseout)="closeInfoWindow()"
    (mapClick)="onEdit(poi)"
  >
    <map-info-window></map-info-window>
  </map-marker>
</google-map>

<mat-card id="card" class="scrollable-content">
  <mat-card-header>
    <mat-card-title>My Points Of Interests</mat-card-title>
    <mat-card-subtitle>click on the entry or marker to edit</mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="!loading">
    <mat-card id="card-poi" *ngIf="!hasPois()"
      ><mat-card-content>No PoI's available!</mat-card-content></mat-card
    >
    <mat-card-content id="card-content" *ngIf="hasPois()" class="with-pois">
      <mat-card id="card-poi" *ngFor="let poi of toArray(); index as i"
        ><mat-card-header>
          <mat-card-title>{{ poi.name }}</mat-card-title>
          <mat-card-subtitle>Marker: {{ i + 1 }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <button
            mat-button
            (click)="onEdit(poi)"
            matTooltip="edit this PoI"
            matTooltipClass="tooltip"
            matTooltipPosition="right"
            aria-label="poi edit button"
          >
            <mat-icon inline="true" color="primary">edit</mat-icon>
          </button>
          <button
            mat-button
            (click)="onDelete(poi)"
            matTooltip="delete this PoI"
            matTooltipClass="tooltip"
            matTooltipPosition="right"
            aria-label="poi delete button"
          >
            <mat-icon inline="true" color="warn">delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </ng-container>
  <mat-spinner id="spinner" *ngIf="loading"></mat-spinner>
</mat-card>
<button
  id="btn-new"
  mat-fab
  color="accent"
  (click)="onNew()"
  matTooltip="add new PoI"
  matTooltipPosition="above"
  aria-label="Poi add button"
>
  <mat-icon inline="true">add_location</mat-icon>
</button>
