#spinner {
  left: 35%;
}
#card {
  width: auto;
  min-width: 300px;
  height: auto; //calc(100% - 145px);
  max-height: calc(100% - 145px);
  position: fixed;
  z-index: 10;
  left: 10px;
  top: 80px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  display: flex;
  flex-direction: column;
}

#card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

#card-poi {
  background-color: #696969cb;
  margin-top: 10px;
}

#btn-new {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  mat-icon {
    font-size: 2em !important;
  }
}

#card-poi {
  cursor: pointer;
  display: flex;
}
mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}

mat-icon {
  font-size: 1.3em !important;
}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}

::ng-deep .gm-style .gm-style-iw-c {
  background-color: #303030;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  img {
    max-width: 30%;
  }
}
::ng-deep .tooltip {
  background: #303030;
}
