<google-map [options]="mapOptions" height="100%" width="100%" #map>
  <map-marker
    *ngFor="let poi of toArray(); index as i"
    #marker="mapMarker"
    [options]="markerOptions"
    [clickable]="true"
    [position]="toGoogle(poi)"
    [title]="poi.name"
    [label]="toString(i)"
    (mapMouseover)="openInfoWindow(marker, poi)"
    (mapMouseout)="closeInfoWindow()"
    (mapClick)="onEdit(poi)"
  >
    <map-info-window></map-info-window>
  </map-marker>
</google-map>

<mat-card id="card" class="scrollable-content">
  <ng-container *ngIf="!loading">
    <mat-card-header>
      <mat-card-title>Meine Points Of Interests</mat-card-title>
      <mat-card-subtitle
        >zum Bearbeiten auf den Eintrag oder Marker klicken</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card *ngIf="!hasPois()"
      ><mat-card-content>Keine Pois vorhanden!</mat-card-content></mat-card
    >
    <mat-card-content id="card-content" *ngIf="hasPois()">
      <mat-card
        id="card-poi"
        (click)="onEdit(poi)"
        *ngFor="let poi of toArray(); index as i"
        ><mat-card-header>
          <mat-card-title>{{ poi.name }}</mat-card-title>
          <mat-card-subtitle
            >Marker: {{ i }}
            <button
              mat-button
              (click)="onDelete(poi)"
              matTooltip="löscht diesen PoI"
              matTooltipClass="tooltip-red"
              aria-label="Poi delete button"
            >
              <mat-icon inline="true" color="warn">delete</mat-icon>
            </button>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </ng-container>
  <mat-spinner *ngIf="loading"></mat-spinner>
</mat-card>
<button
  id="btn-new"
  mat-fab
  color="accent"
  (click)="onNew()"
  matTooltip="neuen PoI hinzufügen"
  matTooltipClass="tooltip-red"
  matTooltipPosition="above"
  aria-label="Poi add button"
>
  <mat-icon inline="true">add_location</mat-icon>
</button>
