<mat-spinner *ngIf="loading" id="spinner"></mat-spinner>
<div id="container">
  <mat-card id="card"
    ><mat-card-header>
      <mat-card-title
        >Verify user role requests</mat-card-title
      ></mat-card-header
    >

    <mat-card-content>
      <mat-card *ngIf="requests.size < 1" id="card-content"
        ><mat-card-content>No Requests available...</mat-card-content></mat-card
      >
      <mat-card id="card-content" *ngFor="let req of toArray()">
        <mat-card-content>
          User: <b>{{ req.creatorName }}</b
          ><br />
          Role:
          <b> {{ req.requestedRole }}</b>
          <mat-card-actions>
            <button mat-raised-button color="warn" (click)="onDeny(req)">
              DENY
            </button>
            <button mat-raised-button color="accent" (click)="onAccept(req)">
              ACCEPT
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
